opencv-python==4.3.0.36
Pillow==7.2.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.1
six==1.15.0
tifffile==2020.7.4
toml==0.10.1
wrapt==1.12.1
